<div *ngIf="car !=null">

  <mat-card>
  <h2>{{car.title | uppercase}} Details</h2>
    <mat-grid-list cols="4" rowHeight="400px">
      <mat-grid-tile
        *ngFor="let tile of car.pictures"
        [colspan]="2"
        [rowspan]="1">
        <img mat-card-image src="{{tile}}" alt="{{car.title}}"/>
      </mat-grid-tile>

    </mat-grid-list>
  <div><span>id: </span>{{car.id}}</div>
  <mat-card-content>
    <label for="car-name">Car name: </label>
    <input matInput id="car-name" [(ngModel)]="car.title" placeholder="name">
  </mat-card-content>
  <mat-card-content>
    <label for="car-address">Car Address: </label>
    <input matInput id="car-address" [(ngModel)]="car.address" placeholder="address">
  </mat-card-content>
  <mat-card-content>
    <label for="car-model">Car Model: </label>
    <input matInput id="car-model" [(ngModel)]="car.model" placeholder="model">
  </mat-card-content>
  <mat-card-content>
    <label for="car-model-year">Car model year: </label>
    <input matInput id="car-model-year" type="number" [(ngModel)]="car.model_year" placeholder="model_year">
  </mat-card-content>
  <mat-card-content>
    <label for="car-issuance">Car issuance: </label>
    <input matInput id="car-issuance" [(ngModel)]="car.issuance" placeholder="issuance">
  </mat-card-content>
  <mat-card-content>
    <label for="car-mileage">Car mileage: </label>
    <input matInput id="car-mileage" type="number" [(ngModel)]="car.mileage" placeholder="mileage">
  </mat-card-content>
  <mat-card-content>
    <label for="car-color">Car color: </label>
    <input matInput id="car-color" [(ngModel)]="car.color" placeholder="mileage">
  </mat-card-content>
  <mat-card-content>
    <label for="car-fuel">Car fuel: </label>
    <input matInput id="car-fuel" [(ngModel)]="car.fuel" placeholder="name">
  </mat-card-content>
  <mat-card-content>
    <label for="car-numbers_doors">Car Number of doors: </label>
    <input matInput id="car-numbers_doors" type="number" [(ngModel)]="car.numbers_doors" placeholder="name">
  </mat-card-content>
  <mat-card-content>
    <label for="car-horse_power">Car horsepower: </label>
    <input matInput id="car-horse_power" type="number" [(ngModel)]="car.horse_power" placeholder="name">
  </mat-card-content>
  <mat-card-content>
    <label for="car-price">Car price: </label>
    <input matInput id="car-price" type="number" [(ngModel)]="car.price" placeholder="name">
  </mat-card-content>
  <mat-card-content>
    <label for="car-sold">Car status: </label>
    <input matInput id="car-sold" [(ngModel)]="car.sold" placeholder="name">
  </mat-card-content>
    <button mat-raised-button color="primary" type="button" (click)="save()">save</button>
    <button mat-raised-button color="primary" type="button" (click)="goBack()">go back</button>
  </mat-card>


</div>

